* {
    box-sizing: border-box;
}

.nav {
    width: 100%;
    background-color: #1e3a1e;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    padding-top: 0px;
    margin: 0px;
    z-index: 1;
}

.nav>.nav-header {
    flex: 0.95;
    padding-left: 1rem;
}

.nav>.nav-header>.nav-title {
    font-size: 10px;
    color: #fff;
}

.nav>.nav-list {
    display: flex;
    gap: 2rem;
    z-index: 3;

}

nav a {
    color: white;
}

.nav>.nav-list>li {
    list-style-type: none;
}

.nav>.nav-list>li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
    font-size: calc(5px + 2em);
    padding: 20%;
    margin: 1px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

.nav>#nav-check {
    display: none;
}

@media (max-width: 480px) {
    .nav {
        padding: 1rem;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: relative;
        right: 0;
        top: 0;
        padding-top: 0.2rem;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 500px;
        padding: 13px;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-list {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        background-color: #1e3a1e;
        height: 0;
        transition: all 0.3s ease-in;
        top: 40px;
        left: 0;
        overflow: hidden;
    }

    .nav>.nav-list>li {
        width: 100%;
        margin-top: 3rem;
    }

    .nav>#nav-check:checked~.nav-list {
        height: calc(100vh - 50px);
    }
}