a {
    color: white;
    text-decoration: none;
}

a :hover {
    color: rgb(247, 192, 129);
    text-decoration: underline;
}

.about_main {
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 8cap;
    padding-top: 3%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}