/*CSS for Footer*/
footer {
    background-color: #2d552d;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    height: auto;
}

footer>h1 {
    color: white;
    font-size: large;
    font-weight: 600;
}

footer>h2 {
    font-size: small;
}

footer>p {
    font-size: 12px;
}


form {
    padding: 15px;
}

a:hover {
    color: rgb(247, 192, 129);
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}